<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468618427073-ih4815h264088bj54jon7ekgcu168tpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468618427073-ih4815h264088bj54jon7ekgcu168tpj</string>
	<key>API_KEY</key>
	<string>AIzaSyC3KcENxE-igE2haALyLpekl-lQvR8HZz8</string>
	<key>GCM_SENDER_ID</key>
	<string>468618427073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezazeeproject.presence</string>
	<key>PROJECT_ID</key>
	<string>presence-4a01f</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-4a01f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468618427073:ios:16bd5010ffa11a84ddf240</string>
</dict>
</plist>